body {
  margin: 0%;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.name-highlight {
  color: blueviolet;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}
.top-banner {
  background-image: url("img/top-banner.png");
  background-repeat: no-repeat;
}
.middle-banner {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
section {
  height: 500px;
  padding-bottom: 80px;
  padding-top: 50px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, blueviolet, violet);
  padding: 10px 20px;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
}
.Expe {
  box-shadow: 10px 10px 30px rgb(56, 55, 56);
  border-radius: 10px;
  height: 55%;
  border-left: 8px solid blueviolet;
  background-color: #fff;
}
#full-stack {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
footer p {
  text-align: center;
  color: grey;
}
